n8n_workflows/webhook_capture_utm.json
{
  "name": "Capture UTM Parameters",
  "nodes": [
    {
      "parameters": {
        "path": "capture-utm",
        "options": {
          "responseMode": "onReceived",
          "responseCode": 200,
          "responseData": "firstEntryJson",
          "responseContentType": "application/json"
        },
        "authentication": "webhook-secret"
      },
      "name": "UTM Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "webhook_capture_utm"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "leadId",
              "value": "={{ $json.body.leadId }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $json.body.utm_source || $json.body.query.utm_source || $json.body.utm_source || \"\" }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $json.body.utm_medium || $json.body.query.utm_medium || $json.body.utm_medium || \"\" }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $json.body.utm_campaign || $json.body.query.utm_campaign || $json.body.utm_campaign || \"\" }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $json.body.utm_content || $json.body.query.utm_content || $json.body.utm_content || \"\" }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $json.body.utm_term || $json.body.query.utm_term || $json.body.utm_term || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Extract UTM Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Validate required fields\nif (!$input.item.json.leadId) {\n  return {\n    success: false,\n    message: \"Lead ID is required\"\n  };\n}\n\n// Check if we have at least one UTM parameter\nconst hasUtmParams = [\n  $input.item.json.utm_source,\n  $input.item.json.utm_medium,\n  $input.item.json.utm_campaign,\n  $input.item.json.utm_content,\n  $input.item.json.utm_term\n].some(param => param && param.trim() !== \"\");\n\nif (!hasUtmParams) {\n  return {\n    success: false,\n    message: \"At least one UTM parameter is required\"\n  };\n}\n\nreturn {\n  success: true,\n  leadId: $input.item.json.leadId,\n  utm_source: $input.item.json.utm_source,\n  utm_medium: $input.item.json.utm_medium,\n  utm_campaign: $input.item.json.utm_campaign,\n  utm_content: $input.item.json.utm_content,\n  utm_term: $input.item.json.utm_term\n};"
      },
      "name": "Validate Input",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.success }}",
              "operation": "equals",
              "value2": "true"
            }
          ]
        }
      },
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "url": "=http://localhost:5000/api/kommo/capture-utm",
        "options": {},
        "method": "POST",
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "leadId",
              "value": "={{ $json.leadId }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $json.utm_source }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $json.utm_medium }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $json.utm_campaign }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $json.utm_content }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $json.utm_term }}"
            }
          ]
        }
      },
      "name": "Save UTM to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1050,
        200
      ]
    },
    {
      "parameters": {
        "url": "=https://{{ $env.KOMMO_ACCOUNT_ID }}.kommo.com/api/v4/leads/{{ $json.leadId }}/custom_fields/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "headers": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer {{ $env.KOMMO_API_TOKEN }}"
              }
            ]
          }
        },
        "method": "PATCH",
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "custom_fields_values",
              "value": "=[\n  {\n    \"field_id\": 100001,\n    \"values\": [{\"value\": \"{{ $json.utm_source }}\"}]\n  },\n  {\n    \"field_id\": 100002,\n    \"values\": [{\"value\": \"{{ $json.utm_medium }}\"}]\n  },\n  {\n    \"field_id\": 100003,\n    \"values\": [{\"value\": \"{{ $json.utm_campaign }}\"}]\n  },\n  {\n    \"field_id\": 100004,\n    \"values\": [{\"value\": \"{{ $json.utm_content }}\"}]\n  },\n  {\n    \"field_id\": 100005,\n    \"values\": [{\"value\": \"{{ $json.utm_term }}\"}]\n  }\n]"
            }
          ]
        }
      },
      "name": "Update Kommo Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1250,
        200
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "success",
              "value": "true"
            },
            {
              "name": "message",
              "value": "UTM parameters captured and saved successfully"
            }
          ]
        },
        "options": {}
      },
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1450,
        200
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "success",
              "value": "false"
            },
            {
              "name": "message",
              "value": "={{ $json.message || \"Invalid input data\" }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1050,
        400
      ]
    }
  ],
  "connections": {
    "UTM Webhook": {
      "main": [
        [
          {
            "node": "Extract UTM Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract UTM Parameters": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Save UTM to API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save UTM to API": {
      "main": [
        [
          {
            "node": "Update Kommo Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Kommo Lead": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "versionId": "1234567890abcdef1234567890abcdef",
  "meta": {
    "instanceId": "abcdfefc-1234-5678-90ab-cdef12345678"
  },
  "tags": ["utm", "kommo", "crm"]
}
